/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap'); */

.div_main{
    background-color: whitesmoke;
}
@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


.div_main_login {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;   
}

.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


